/* font */

body {
    max-width: 1440px;
    padding: 120px;
    margin: 0px;
}

/* Navber */

.navber {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.nav-link {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* align-items: center; */
    text-decoration: none;
    text-align: right;
    font-weight: 500;
}

.nav-link i {
    color: #3A3A3A;
}

.nav-item {
    list-style: none;
    color: #3A3A3A;
}

.navber h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
}

/* Header */

.header-contaner {
    /* display: flex; */
    /* gap: 33px; */
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
    background: url("./images/Circle\ design.svg") right no-repeat;
    margin-bottom: 100px;
}

.header-content h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #3A3A3A;
    font-family: Poppins;
    margin-bottom: 16px;
}

.header-content p {
    font-size: 1rem;
    font-weight: 500;
    color: #3A3A3A;
    font-family: Poppins;
    margin-bottom: 16px;
}

.btn-primary {
    width: 130px;
    height: 35px;
    border-radius: 40px;
    background-color: #E02C6D;
    color: #ffff;
    border: #E02C6D;
    font-size: 0.8rem;
}

.hero-img {
    width: 100%;
    height: 400px;
}

/* Main section */

.sponser-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: 0.1px solid gainsboro;
    box-shadow: 5px 5px 5px gray;
    height: 100px;
    margin-bottom: 100px;
}

.sponser-section img {
    width: 60px;
}

/* Card Section */

.card {
    box-shadow: 10px 10px 20px gray;
    /* border: 0.5px solid gray; */
    width: 300px;
    height: 400px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.card-section-header {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #3A3A3A;
    font-family: Poppins;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.card-section h4 {
    font-weight: 600;
    font-size: 1.5rem;

    margin-bottom: 5px;
}

.card img {
    width: 100%;
    height: 256px;
    margin-bottom: -20px;
}

.card .price {
    font-weight: 500;
    font-size: 1rem;
    color: #3A3A3A;
    font-family: Poppins;
    margin-bottom: -6px;
}

.card .p-content {
    font-weight: 600;
    font-size: 0.7rem;
    color: #3A3A3A;
    font-family: Poppins;
}

.card-section-header {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn-seemore {
    color: #E02C6D;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: right;
    margin-top: 50px;
}

/* featured */
.featured-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;

}

.featured-content h2 {
    font-weight: 700;
    font-size: 1.8rem;
    color: #0A0826;
    font-family: Poppins;
    gap: 96px;
}

.featured-content p {
    color: #3A3A3A;
    font-family: Poppins;
    line-height: 28px;
    margin-bottom: 16px;
}

/* footer */
.footer {
    width: 1440x;
    background-color: #0A0826;
    padding-top: 20px;
    margin-top: 100px;
}

.footer-icon a {
    color: white;
    margin-right: 15px;

}

.footer-cotan {
    width: 1440x;
    background-color: #0A0826;
}

.footer-icon {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;

}

.footer-cotan h3 {
    color: white;
    text-align: center;
    align-items: center;
    font-weight: 600;

}

.footer p {
    color: white;
    /* margin-top: 50px; */
    text-align: center;
}